@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
*{
 margin:0;
 padding: 0;
 outline: 0;
}
body{
	background-color: #332e2e;
}
table{
 position: absolute;
 z-index: 2;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
 width: 60%; 
 border-collapse: collapse;
 box-shadow: 0 2px 15px rgba(64,64,64,.7);
 border-radius: 1px 1px 0 0;
 overflow: hidden;

}
td , th{
 padding: 10px 20px;
 text-align: center;
 

}
th{
 background-color: #817d8a;
 color: #fafafa;
 font-family: 'Open Sans',Sans-serif;
 font-weight: 200;
 text-transform: uppercase;

}
tr{
 width: 100%;
 background-color: #fafafa;
 font-family: 'Montserrat', sans-serif;
}
tr:nth-child(even){
 background-color: #eeeeee;
}
.h1{
	margin-left: 50%;

}
p{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 23pt;
	margin-top: 1%;
}
a{
	color: black;
}
.u{
	color: white;
}
